; PlatformIO Project Configuration File
;
;   Build options: build flags, source filter
;   Upload options: custom upload port, speed and extra flags
;   Library options: dependencies, extra library storages
;   Advanced options: extra scripting
;
; Please visit documentation for the other options and examples
; https://docs.platformio.org/page/projectconf.html

[env:denky32]
platform = espressif32
board = denky32
framework = arduino

upload_port = COM7        ; замени на свой порт (Linux: /dev/ttyUSB0 или /dev/ttyACM0)
monitor_port = COM7       ; тот же порт
monitor_speed = 115200    ; скорость для Serial.begin()

lib_deps =
  crankyoldgit/IRremoteESP8266